<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("overzicht", "index")</li>
        <li>@Html.ActionLink("nieuwe magazine title", "Create")</li>
    </ul>
</div>

