<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">        
        <li>@Html.ActionLink("overzicht", "Index")</li>
        <li>@Html.ActionLink("nieuwe transactie", "CreateFromLeverancier", "Transactions")</li>
        <li>@Html.ActionLink("nieuwe leverancier", "Create")</li>
    </ul>
</div>

