<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">        
        <li>@Html.ActionLink("overzicht", "Index")</li>
        <li>@Html.ActionLink("maak nieuwe locatie", "Create")</li>
        <li>@Html.ActionLink("nieuwe transactie", "NewTransaction")</li>
        <li></li>
    </ul>
</div>

