<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("bekijk waarschuwingen", "Index")</li>
        <li>@Html.ActionLink("nieuwe waarschuwing", "Create")</li>
    </ul>
</div>