@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    TijdschriftenShop<br />
    Pr. Wilhelminalaan 9 <br />
    4311 BN Bruinisse<br />
    <abbr title="Phone">P:</abbr>
    0111-482599
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@tijdschriftenshop.nl">info@tijdschriftenshop.nl</a><br />
</address>