@{
    ViewBag.Title = "Index";
    int locationId = ViewBag.id;
}

<h2>Voorraad</h2>
<div class="form-group">
    <label for="Location_Id">locatie</label>
    <div class="col-md-10">
        @Html.DropDownList("Location_Id", null, htmlAttributes: new { @class = "form-control" })
    </div>
</div>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
    var chart;
    google.load("visualization", "1", {packages:["corechart"]});
    //google.setOnLoadCallback(drawChart);

    var DataAlleLocaties = @{Html.RenderAction("GetTotaleVoorraad");
    this.Response.ContentType = "text/html";
    // contentype moet weer worden veranderd naar een normale html pagina
    };
    var rawData = DataAlleLocaties;

    function drawChart() {
        var prepare = [];//['Year', 'Voorraad']
        for (item in rawData)
        {
            prepare.push([new Date(rawData[item].date), rawData[item].totaalTijdschriften]);
        }


        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Date');
        data.addColumn('number', 'voorraad');
        data.addRows(prepare);

        var options = {
            title: 'Vooraad'
        };

        chart = new google.visualization.LineChart(document.getElementById('chart_div'));

        chart.draw(data, options);
    }

    var donutChart;
    function drawDonut(rawDonutData)
    {

        var data = new google.visualization.DataTable();
        data.addColumn('string', "naam tijdschrift");
        data.addColumn('number', "aantal");

        for(var i in rawDonutData)
        {
            data.addRow([rawDonutData[i].name, rawDonutData[i].value])
        }

        var options = {
            title: 'huidige voorraad per tijdschrift',
            pieHole: 0.4,
        };

        donutChart = new google.visualization.PieChart(document.getElementById('donutchart_div'));
        donutChart.draw(data, options);
    }

    function drawDonutWithData(id) {
        $.getJSON("@Url.Action("GetCurrentVoorraad")", {locationId:id}, function(data) {
            drawDonut(data);
        } );        
    }

    var lchange = function() {
        var value = $('#Location_Id').val();
        if(chart !== undefined)
            chart.clearChart();
        if(donutChart !== undefined)
            donutChart.clearChart();
        if(value == '-1')
        {
            rawData = DataAlleLocaties;
            drawChart();
        }
        else
        {
            $.getJSON("@Url.Action("GetTotaleHistoricalVoorraadPerLocation")", {id:value}, function(data) {
                rawData = data;
                drawChart();
            } );
            drawDonutWithData(value);
        }
    }

    $(document).ready(function(){
        $('#Location_Id').change(lchange);
    });
    
</script>

@if(locationId > 0)
{
    <script>
        $().ready(function() {
            $('#Location_Id').val(@locationId);
            lchange();

        });
    </script>

}
else
{
    <script>
        $().ready(function() {
            drawChart();

        });
    </script>
}

<div id="chart_div" class="col-md-12" style="height: 500px;">
    <noscript><p>Op deze pagina wordt een grafiek getoond met de actuele vooraad. Om dit zichtbaar te maken is helaas javascript nodig.</p></noscript>
</div>

<div id="donutchart_div" class="col-md-12" style="height: 500px;"></div>
