<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("overzicht", "Index")</li>
        <li>@Html.ActionLink("nieuw magazine", "Create")</li>        
        <li></li>
    </ul>
</div>

