<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("overzicht magazines", "Index", "Magazines")</li>
        <li>@Html.ActionLink("nieuw magazine", "Create", "Magazines")</li>
        <li>@Html.ActionLink("overzicht magazines titles", "Index", "MagazineTitles")</li>
        <li>@Html.ActionLink("nieuw magazine title", "Create", "MagazineTitles")</li>
    </ul>
</div>

