<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        @{
            List<string> l = ViewBag.subMenu as List<string>;
        }
        <li>@Html.ActionLink("nieuwe levering", "CreateFromLeverancier")</li>
        <li>@Html.ActionLink("interne transactie", "CreateFromLeverancier")</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>

