<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("overzicht", "Index")</li>
        <li>@Html.ActionLink("nieuwe levering", "CreateFromLeverancier")</li>
        <li>@Html.ActionLink("interne transactie", "CreateInternTransaction")</li>
        <li>@Html.ActionLink("verkoop", "CreateCustomerTransaction")</li>
        <li></li>
        <li></li>
    </ul>
</div>

